{% extends 'base.html' %} 
{% load static %} 
{% block title %} 

Karin
{% endblock %} 
{% block content %} 
{% if user.is_authenticated %}
<div class="container">
    <h1 class="text-center mt-3">Karin's Page</h1>

    <hr/>
  
    <div class="newspaper bg-light">
        <div class="col g-3 col-content">
               
             <p>My mother got pregnant without being married or even engaged to my father, and when she told him, he demanded
                that she get an abortion. Luckily for me she refused. He came from a strictly Catholic Rhineland family and when
                he told his mother – his father was, to the best of my knowledge, no longer alive, she told him to do the decent
                thing and ‘marry the girl’. That’s what happened. I have never been told anything much about those few years of
                my parents’ marriage, but I think they did not live together when I was born. It was 1948 – most of Germany lay
                in ruins, and there was a shortage of housing. My grandparents lived in a mediaeval, half-timbered house, part
                of a cluster fo houses called a “Hofschaft”. The main house had by then been divided into three parts to
                accommodate various sons of the same family, the Kirschbaums. Four of the nine families living there were still
                called Kirschbaum (cherry tree). There were nicknames for each, according to the name of the son who originally
                got that place to live. We were the “Manewells”, after someone called Emmanuel, who probably lived a long time
                ago. The next-door neighbours were the “Lebrechts” after the son called “Leberecht”. Anyway, my grandparents
                (really my grandmother, because she was born in that house), owned another little house, just ten metres across
                the yard, which would have been the logical place for my parents to live, but when I was born it was rented out
                to a family called Dahlhaus, who had been there for many years. The couple had had one son who was killed in the
                war.
            </p>
             <p>But they were still there, because there was a story my grandmother liked to tell, of how I, probably as a
                two-year-old was sitting in my little rocking-horse chair in Oma’s living room, Frau Dahlhaus was there, and
                suddenly I said: “Klein Hotta!” (‘Hotta’ is the German word for horse taught to little children) they looked
                around to see what I meant and there it was: a mouse. And Frau Dahlhaus, without hesitating, stepped on the
                mouse and killed it.
            </p>       
             <p>So: The Dahlhaus family was still living in that house, my aunt, Tante Rese, was not yet married and therefore
                lived at home. I was there, my mother would also have been there; my father probably lived with his mother and
                brother. I don’t know, because questions about any of this were discouraged. I once asked my mother something
                about the time before I was born and she said” “Darüber unterhalte ich mich mit dir nicht.” (I will not discuss
                that with you) – I never asked her another question about her life with my father. </p>
            </p>        
             <p>A few things were mentioned as time went by. The Dahlhaus family must have left fairly soon after the mouse
                incident, because my parents moved into that little house. My father, a carpenter, built a cot for me, and I
                screamed blue murder and absolutely refused to sleep in it. But my father was not prepared to change his
                lifestyle. According to my mother, he once said “Throw that kid into bed and let’s go dancing.” – Naturally my
                mother wouldn’t do that, so he went dancing by himself. 
            </p>
             <p>When my mother asked him for money for the household he refused. “If you want money, go to work.” So my mother
                started to work as a typist and stenographer for the same company as my aunt. My mother always clung to her twin
                sister in ways that I found hard to understand. Anyway, Oma looked after me, and that did not change until I was
                grown up. 
            </p>
             <p>Then when Karneval came around one year – I don’t know whether I was three or four – certainly not older – my
                mother had saved some money and hidden it under some clothes in the wardrobe upstairs. She was adding something
                to it when she noticed my father standing on the staircase, watching her. She left the money there. The next day
                my father and the money were gone. He did not return until Ash Wednesday, walked in, pulled his trouser pockets
                inside out to indicate that he had no money left, and shrugged. At that point my mother told him to pack his
                bags; apparently I sat on the suitcase to help him close it, and off he went. 
            </p>             
          </div>
    </div>
</div>
{% else %} 
You're not authorised to be here! (And you know it...) 
{% endif %} 

{% endblock %}
